.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.25 rem;
  padding-right: 1.25 rem;
  position: relative;
}

.errorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.hideMobile {
  display: initial;
}

.hideDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .hideMobile {
    display: none;
  }

  .hideDesktop {
    display: initial;
  }
}
