.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.25 rem;
  padding-right: 1.25 rem;
}

.pageTitle {
  padding: 4rem 0 4rem 1.25rem;
}

.errorContainer {
  padding: 10rem 1.25rem;
}

.hideMobile {
  display: initial;
}

.hideDesktop {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--foregroundDarker);
  padding: 1rem;
  border-top: 1px solid var(--lineBreak);
  font-size: 12px;
}

.footer p {
  padding-bottom: 0.5rem;
}

.sourceCodeButton {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
  background-color: var(--lineBreak);
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .hideMobile {
    display: none;
  }

  .hideDesktop {
    display: initial;
  }

  .footer {
    flex-direction: row;
  }

  .footer p {
    padding-bottom: 0;
  }
}
